<h2 class="text-3xl font-bold mb-10 text-slate-800 tracking-tight">Honors & Awards</h2>
<div class="space-y-4">
    <div class="p-8 bg-white rounded-3xl border border-slate-200 shadow-sm flex flex-col md:flex-row justify-between items-start md:items-center gap-4 border-l-8 border-l-yellow-400">
        <div>
            <h3 class="text-xl font-bold text-slate-800">Fulbright-ANID BIO Doctoral Scholarship</h3>
            <p class="text-sm text-slate-500 italic">Fulbright-Chile Commission</p>
        </div>
        <span class="text-2xl font-black text-slate-200 italic">2024 — 2028</span>
    </div>
    <div class="p-8 bg-white rounded-3xl border border-slate-200 shadow-sm flex flex-col md:flex-row justify-between items-start md:items-center gap-4 border-l-8 border-l-blue-400">
        <div>
            <h3 class="text-xl font-bold text-slate-800">Matrícula Facultades (High Achievement)</h3>
            <p class="text-sm text-slate-500 italic">Pontificia Universidad Católica de Chile</p>
        </div>
        <span class="text-2xl font-black text-slate-200 italic">2021-2022</span>
    </div>
</div>